@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

html, body {
    font-family: 'Libre Baskerville', serif;
    margin: 24px auto;
    position: relative;
    z-index: 1000;
    max-width: 960px;
    min-width: 320px;
    }

    img {
    width: 100%;
    height: auto;
    }

    .intro {
        padding: 24px 48px;
        background-color: lightgrey;
        box-shadow: -12px 12px 24px 0px lightgrey;
    }

    header h1 {
    font-size: 400%;
    margin-bottom: 0;   
    }  

    header h2 {
        font-style: italic;
        padding-bottom: 24px;
        display: block;
    }

    h3 {
        margin-top: 2em;
        margin-bottom: 0;
    }

    .main {
        padding: 24px 48px 48px 48px;
        background-color: white;
        box-shadow: -12px 12px 24px 0px lightgrey;
    }

    .sidebar {
        font-size: smaller;
    }