@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

html, body {
    font-family: 'Libre Baskerville', serif;
    margin: 24px auto;
    position: relative;
    z-index: 1000;
    max-width: 960px;
    min-width: 320px;
    }

    img {
    width: 100%;
    height: auto;
    }

    .intro {
        padding: 0 0 24px 0;
        background-color: #F7F8E0;
        box-shadow: -12px 12px 24px 0px lightgrey;
    }

    header {
        padding: 64px 48px 6px 48px;
        background-image: url(images/GridPattern.svg);
        background-size: cover;
    }

    header h1 {
    font-size: 400%;
    margin-top: 0;
    margin-bottom: 0;   
    }  

    header h2 {
        font-style: italic;
        margin-top: 0;
        display: block;
    }

    #zen-summary {
        padding: 12px 48px 0px 48px;
      }
      
      #zen-preamble {
        padding: 0 48px 6px 48px;
      }

    h3 {
        margin-top: 2em;
        margin-bottom: 0;
    }

    .main {
        padding: 12px 48px 48px 48px;
        background-color: white;
        box-shadow: -12px 12px 24px 0px lightgrey;
    }
    
    .sidebar .wrapper {
        padding: 48px 0px 48px 0px;
        font-size: smaller;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 24px;
    }

    .sidebar h3 {
        margin-top: 12px;
        text-align: center;
    }

    .design-selection {
        background-color: #F7F8E0;
        padding: 12px 12px 12px 6px
    }

    .design-archives {
        background-color: #F7F8E0;
        padding: 12px 12px 12px 6px
    }

    .zen-resources{
        background-color: #F7F8E0;
        padding: 12px 12px 12px 6px
    }

    @media (max-width: 680px) {
        .sidebar .wrapper {
          display: grid;
          grid-template-columns: 1fr;
        }

    a:hover, a:focus, a:active { 
        text-decoration: underline; 
        color: #9685BA;
        }