@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

html, body {
    font-family: 'Libre Baskerville', serif;
    margin: 24px auto;
    padding: 36px 36px;
    border: 24px
    position: relative;
    z-index: 1000;
    max-width: 980px;
    min-width: 640px;
    }

    img {
    width: 100%;
    height: auto;
    }

    .intro {
        padding: 0px 60px;
    }

    header h1 {
    font-size: 400%;    
    }  

    header h2 {
        font-style: italic;
    }

    .main {
        padding: 60px 60px;
        box-shadow: -12px 12px 24px 0px rgba(0,0,0,0.75);
    }

    .sidebar {
        padding: 0px 0px 60px 0px;
        font-size: smaller;
    }