@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

html, body {
    font-family: 'Libre Baskerville', serif;
    margin: 24px auto;
    position: relative;
    z-index: 1000;
    max-width: 960px;
    min-width: 320px;
    }

    img {
    width: 100%;
    height: auto;
    }

    .intro {
        padding: 12px 48px 24px 48px;
        background-color: lightgrey;
        box-shadow: -12px 12px 24px 0px lightgrey;
    }

    header {
        background-image: url(images/GridPattern.svg);
    }

    header h1 {
    font-size: 400%;
    margin-bottom: 0;   
    }  

    header h2 {
        font-style: italic;
        margin-top: 0;
        padding-bottom: 24px;
        display: block;
    }

    h3 {
        margin-top: 2em;
        margin-bottom: 0;
    }

    .main {
        padding: 12px 48px 48px 48px;
        background-color: white;
        box-shadow: -12px 12px 24px 0px lightgrey;
    }
    
    .sidebar {
        font-size: smaller;
    }

    a:hover, a:focus, a:active { 
        text-decoration: underline; 
        color: #9685BA;
        }