@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

body {
    font-family: 'Libre Baskerville', serif;
    margin: 24px auto;
    padding: 36px 36px 36px 36px;
    position: relative;
    z-index: 1000;
    max-width: 980px;
    min-width: 640px;
    }

    img {
    width: 100%;
    height: auto;
    }

    banner {
        padding: 120px 120px;
    }

    header h1 {
    font-size: 400%;    
    }  

    header h2 {
        font: '<em>Libre Baskerville</em>';
    }

    .main {
        box-shadow: -12px 12px 24px 0px rgba(0,0,0,0.75);
    }