@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

body {
    font-family: 'Libre Baskerville', serif;
    margin: 0 auto;
    padding: 0 64px 0 50px;
    position: relative;
    z-index: 1000;
    max-width: 980px;
    min-width: 640px;
    }

    * {
    box-sizing: border-box;
    }

    img {
    width: 100%;
    height: auto;
    }

    banner {
        padding: 0 120px;
    }

    header h1 {
    font-size: 400%;    
    }  

    header h2 {
        font: '<em>Libre Baskerville</em>';
    }