@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

html, body {
    margin: 20px;
    padding: 0;
    font-family: 'Libre Baskerville', serif; 
    }

    * {
    box-sizing: border-box;
    }

    img {
    width: 100%;
    height: auto;
    }

    banner {
        padding: 0 40px;
    }

    header h1 {
    font-size: 400%;    
    }  

    header h2 {
        font: '<em>Libre Baskerville</em>';
    }